@font-face {
    font-family: 'CustomFont1';
    src: url('PressStart2P-Regular.ttf') format('truetype');}
 
 
 body {margin: 0; padding: 0;}
 
 
 h1 {justify-content: center;  display: flex;
   align-items: center;}
 
 .title {
     text-align: center;
     width: 30%;
     margin: auto;
     padding: 30px;
     color: black;
     font-size: 25px;
     border: 10px ridge #ffe898;
     border-radius: 25px;
     margin-bottom: 50px;
     margin-top: 25px;
     font-family: 'CustomFont1';
     background-color: #cad1ec;
     font-size: 30px;
     }
 
 
 .navigation {
     transform: scale(0.85);
     display: flex;
     flex-direction: row;
     border: 10px ridge #ffe898;
     border-radius: 10px;
     background-color: #cad1ec;
     position: relative;
     width: 700px;
     height: fit-content;
     padding-left: 20px;
     padding-right: 20px;
     justify-content: center;
     margin: auto;
     bottom: 5%;
 }
 
 .navigation a {
     transform: scale(0.85);
     text-decoration: none;
     font-family: 'CustomFont1', sans-serif;
     display: block;
     width: 70%;
     padding: 15px;
     margin: 10px 0;
     text-align: center;
     color: black;
     font-size: 16px;
     border: 5px solid #9ba6cf;
     border-radius: 5px;
     background-color: #f2f8ff;
     text-align: center;
     white-space: nowrap;
     }
 
 
 
 /* MAIN FEED */
 .main {
     color: black;
     font-size: 18px;
     border: 10px ridge #ffe898;
     border-radius: 25px;
     background-color: #cad1ec;
     width: 40%;
     text-align: center;
     margin: auto;
     height: 1000px;
 }
 
 
 .AboutMe 
 {
     font-family: 'CustomFont1', sans-serif; font-size: 25px; padding-top: 20px;
 }
 
 
 /* MAIN FEED TEXT BUBBLE*/
 .AboutMeTxt 
 {
     font-family: 'CustomFont1', sans-serif;
     font-size: 20px;
     margin: 20px;
     padding: 10px;
    
     color: black;
     font-size: 18px;
     border: 5px solid #9ba6cf;
     border-radius: 5px;
     background-color: #f2f8ff;
     line-height: 1.2;
 }
 
 /* SERVICES HEADER*/
 .MyMission 
 {
     font-family: 'CustomFont1', sans-serif; font-size: 25px; padding-top: 20px;
 }
 
 /* SERVICES TEXT BUBBLE*/
 .MyMissionTxt {
     font-family: 'CustomFont1', sans-serif;
     font-size: 20px;
     margin: 20px;
     padding: 10px;
     color: black;
     font-size: 18px;
     border: 5px solid #9ba6cf;
     border-radius: 5px;
     background-color: #f2f8ff;
     line-height: 1.2;
 }
 
 